<a href="https://colab.research.google.com/github/avgonzalez929/MujeresDigitales/blob/main/Clase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Operadores Aritméticos**

---
Los operadores permiten realizar diferentes procesos de cálculo en cualquier lenguaje de programación.

Los operadores mas basicos son:
1. Suma
2. Resta
3. Multiplicación
4. División

**Suma y Resta**

---
Símbolo suma(+) el cual se utilizará en medio de la declaración de las variables a operar.

Símbolo resta(-)

In [ ]:
print(10+300)
a=20
b=35
print(a+b)

print(10-300)
a=20
b=35
print(a-b)

310
55
-290
-15

In [ ]:
numero_botellas=12
print(numero_botellas + 8)

20

In [ ]:
numero_botellas=12
numero_botellas=numero_botellas + 8
print(numero_botellas)

20

**Sumas entre los diferentes tipos de variables**

---
Recordemos los tipos de variables que vimos ayer:
1. Declaracion de variables númericas enteras
2. Flotantes(incorpora y flexibiliza los decimales)
3. Tipo cadena

In [ ]:
q1=100
q2=24.5
print(type(q1+q2))

<class 'float'>

In [ ]:
v1="quiero"
v2="un celular"
print(v1,v2)

quiero un celular

In [1]:
xq2=235
xq3=400
print(xq2-xq3)

-165