<a href="https://colab.research.google.com/github/avgonzalez929/MujeresDigitales/blob/main/Tarea_Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tipo Entero**

In [7]:
a=int(9.395)
print(a)

b=int(13)
print(b, type(b))

9
13 <class 'int'>

**Tipo Float**

In [9]:
a=float(12.395)
print(a)

b=float(9.999)
print(b, type(b))

12.395
9.999 <class 'float'>

**Tipo Cadena**

In [14]:
a="Bienvenido"
b="Carlos"
print(a,b)

val1="Usuario"
print(val1)
val2="Contraseña"
print(val2)

Bienvenido Carlos
Usuario
Contraseña

**Tipo Booleano**

In [16]:
a=True
print("El valor de a es:", a)

b=False
print("El valor de b es:", b,", el cual es de tipo", type(b))

El valor de a es: True
El valor de b es: False , el cual es de tipo <class 'bool'>

**Tipo conjuntos**

In [17]:
pais='Colombia','Argentina','Mexico','Ecuador','Venezuela'
ciud='Bogota','Buenos Aires','Ciudad de Mexico','Quito','Caracas'
print(pais,ciud)

('Colombia', 'Argentina', 'Mexico', 'Ecuador', 'Venezuela') ('Bogota', 'Buenos Aires', 'Ciudad de Mexico', 'Quito', 'Caracas')

**Tipo Listas**

In [21]:
parque=['arboles','culumpio','rodadero','tobogan','saltarin','niños']
print(parque)
fe=parque[4]
print(fe)

casa=['alcoba','patio','baño','cocina','balcón','sala','estudio']
print(casa)
fe=casa[0:5]
print(fe)

['arboles', 'culumpio', 'rodadero', 'tobogan', 'saltarin', 'niños']
saltarin
['alcoba', 'patio', 'baño', 'cocina', 'balcón', 'sala', 'estudio']
['alcoba', 'patio', 'baño', 'cocina', 'balcón']

**Tipo Tuplas**

In [22]:
tupla1=1,2,3,4,5,6
print(tupla1)
tupla2=tupla1,('primero','segundo','tercero','cuarto','quinto','sexto')
print(tupla2)

(1, 2, 3, 4, 5, 6)
((1, 2, 3, 4, 5, 6), ('primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto'))

**Tipo Diccionario**

In [27]:
estudiante_e={
    "nombres":"Johan Sebastian",
    "apellidos":"Orjuela Rivera",
    "cedula":"1014058500",
    "est_civil":"casado",
    "celular":"3117813113",
    "lugar_nacimiento":"Bogota",
    "fecha_nacimiento":"31/10/1995",
}
print("ID del diccionario", estudiante_e.keys())
print("ID del diccionario", estudiante_e.values())
print("ID del diccionario", estudiante_e.items())
print("Numero de celular:", estudiante_e['celular'])

ID del diccionario dict_keys(['nombres', 'apellidos', 'cedula', 'est_civil', 'celular', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Johan Sebastian', 'Orjuela Rivera', '1014058500', 'casado', '3117813113', 'Bogota', '31/10/1995'])
ID del diccionario dict_items([('nombres', 'Johan Sebastian'), ('apellidos', 'Orjuela Rivera'), ('cedula', '1014058500'), ('est_civil', 'casado'), ('celular', '3117813113'), ('lugar_nacimiento', 'Bogota'), ('fecha_nacimiento', '31/10/1995')])
Numero de celular: 3117813113

In [28]:
casa_0={}
casa_0['tam']='grande'
casa_0['alcobas']='3'
casa_0['baños']='2'
casa_0['lugar']='Medellin'
casa_0['precio']=140

casa_1={}
casa_1['tam']='pequeña'
casa_1['alcobas']='1'
casa_1['baños']='1'
casa_1['lugar']='Bogota'
casa_1['precio']=120
print(casa_0)
print(casa_1)

compra0=casa_0['precio']
compra1=casa_1['precio']
compratotal=compra0+compra1
print("La compra total fue de:"+ str(compratotal))

{'tam': 'grande', 'alcobas': '3', 'baños': '2', 'lugar': 'Medellin', 'precio': 140}
{'tam': 'pequeña', 'alcobas': '1', 'baños': '1', 'lugar': 'Bogota', 'precio': 120}
La compra total fue de:260

In [ ]:
()